{% extends '../template/layout.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h1>Identification</h1>

                        {% block alert %}
                            {% include '../template/alert.html' %}
                        {% endblock %}

                        <form role="form" action="/auth/local?next=/admin" method="post">

                            <div class="form-group">
                                <input type="text" name="identifier" id="identifier" class="form-control" placeholder="Username or Email" required>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}