{% extends '../template/layout.html' %}

{% block nav %}
    {% include '../template/nav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '../template/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <form action="{{ route }}/update" method="post">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block">Annuler</button>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs nav-justified" role="tablist" id="tablistUser">
                        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profil</a></li>
                        <li role="presentation"><a href="#character" aria-controls="character" role="tab" data-toggle="tab">Personnage</a></li>
                        <li role="presentation"><a href="#stuffs" aria-controls="stuffs" role="tab" data-toggle="tab">Equipements</a></li>
                        <li role="presentation"><a href="#quests" aria-controls="quests" role="tab" data-toggle="tab">Quetes</a></li>
                        <li role="presentation"><a href="#logs" aria-controls="logs" role="tab" data-toggle="tab">Logs</a></li>
                        <li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Statistiques</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="profile">
                            <div class="form-group">
                                <label for="username">Pseudo</label>
                                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                            </div>

                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>

                            <div class="form-group">
                                <label for="comment">Description de l'utilisateur</label>
                                <textarea class="form-control" id="comment" name="comment" rows="3">{{ user.comment }}</textarea>
                            </div>

                            <div class="form-group">
                                <label for="ip">IP de connexion</label>
                                <input type="text" class="form-control" id="ip" name="ip" value="{{ user.ip }}">
                            </div>

                            <div class="form-group">
                                <label for="headers">Header de la connexion</label>
                                <ul class="list-group">
                                    {% for key, header in user.headers %}
                                        <li class="list-group-item">
                                            <h4 class="list-group-item-heading">{{ key }}</h4>

                                            <p class="list-group-item-text">{{ header }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="character">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="positionX">Position X</label>
                                        <input type="text" class="form-control" id="positionX" name="positionX" value="{{ user.x }}" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="positionY">Position Y</label>
                                        <input type="text" class="form-control" id="positionY" name="positionY" value="{{ user.y }}" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="positionZ">Position Z</label>
                                        <input type="text" class="form-control" id="positionZ" name="positionZ" value="{{ user.z }}" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="directionX">Direction X</label>
                                        <input type="text" class="form-control" id="directionX" name="directionX" value="{{ user.directionX }}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="directionY">Direction Y</label>
                                        <input type="text" class="form-control" id="directionY" name="directionY" value="{{ user.directionY }}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="zone">Relié à la zone</label>
                                <select class="form-control" id="zone" name="zone">
                                    <option value="0">Aucune zone</option>
                                    {% if zones %}
                                        {% for zone in zones %}
                                            <option value="{{ zone.id }}" {% if zone.id == user.zone %}selected="selected"{% endif %}>{{ zone.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="speed">Vitesse de déplassement</label>
                                <select class="form-control" id="speed" name="speed">
                                    {% for i in range(1, 100) %}
                                        <option value="{{ i }}" {% if i == user.speed %}selected="selected"{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="gravity">Force de gravité</label>
                                <select class="form-control" id="gravity" name="gravity">
                                    {% for i in range(0, 100) %}
                                        <option value="{{ i }}" {% if i == user.gravity %}selected="selected"{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hp">HP</label>
                                        <select class="form-control" id="hp" name="hp">
                                            {% for i in range(0, 100) %}
                                                <option value="{{ i }}" {% if i == user.hp %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hpMax">HP maximum</label>
                                        <select class="form-control" id="hpMax" name="hpMax">
                                            {% for i in range(10, 100) %}
                                                <option value="{{ i }}" {% if i == user.hpMax %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mp">MP</label>
                                        <select class="form-control" id="mp" name="mp">
                                            {% for i in range(0, 100) %}
                                                <option value="{{ i }}" {% if i == user.mp %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mpMax">MP maximum</label>
                                        <select class="form-control" id="mpMax" name="mpMax">
                                            {% for i in range(10, 100) %}
                                                <option value="{{ i }}" {% if i == user.mpMax %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="xp">XP</label>
                                        <input type="number" class="form-control" id="xp" name="xp" value="{{ user.xp }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="level">Niveau</label>
                                        <select class="form-control" id="level" name="level">
                                            {% for i in range(1, 100) %}
                                                <option value="{{ i }}" {% if i == user.level %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="money">Argent en poche</label>
                                        <input type="number" class="form-control" id="money" name="money" value="{{ user.money }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="moneyBank">Argent à la banque</label>
                                        <input type="number" class="form-control" id="moneyBank" name="moneyBank" value="{{ user.moneyBank }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="stuff">Equipement</label>
                                        <select class="form-control" id="stuff" name="stuff">
                                            <option value="0">Aucun stuff</option>
                                            {% if stuffs %}
                                                {% for stuff in stuffs %}
                                                    <option value="{{ stuff.id }}" {% if stuff.id == user.stuff %}selected="selected"{% endif %}>{{ stuff.name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="bullet">Munition(s)</label>
                                        <select class="form-control" id="bullet" name="bullet">
                                            {% for i in range(0, 100) %}
                                                <option value="{{ i }}" {% if i == user.bullet %}selected="selected"{% endif %}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="stuffs">
                            {% include './stuff.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="quests">
                            {% set questsUrl = '/admin/user/'+user.id+'/quest' %}
                            {% include '../quest/list.html' %}

                        </div>
                        <div role="tabpanel" class="tab-pane" id="logs">
                            {% set logsUrl = '/admin/user/'+user.id+'/log' %}
                            {% include '../log/list.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="stats">
                            {% set statsUrl = '/admin/user/'+user.id+'/stat' %}
                            {% include '../stat/list.html' %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">Informations complémentaires</div>
                    <div class="panel-body">
                        {% if user.id %}
                            <p>Identifiant : {{ user.id }}</p>
                        {% endif %}

                        {% if user.createdAt %}
                            <p>Date de création : {{ user.createdAt }}</p>
                        {% endif %}

                        {% if user.updatedAt %}
                            <p>Date de modification : {{ user.updatedAt }}</p>
                        {% endif %}
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Imagerie</div>
                    <div class="panel-body">

                        {% if user.id %}
                            <p>Permet de rajouter un avatar à l'utilisateur.</p>
                            <div class="form-group">
                                <button type="button" class="btn btn-block {% if user.avatar %}btn-success{% else %}btn-default{% endif %}" data-toggle="modal" data-target="#avatarModal" id="avatarModalButton">avatar</button>
                            </div>
                        {% endif %}

                        {% if user.id %}
                            <p>Permet de habiller le personnage de l'utilisateur.</p>
                            <div class="form-group">
                                <button type="button" class="btn btn-block {% if user.skin %}btn-success{% else %}btn-default{% endif %}" data-toggle="modal" data-target="#skinModal" id="skinModalButton">skin</button>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if user.id %}
                <div class="panel panel-default">
                    <div class="panel-heading">Ajouter un équipement</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" id="stuffAdd">
                                <option value="">Sélectionner un stuff</option>
                                {% if stuffs %}
                                    {% for stuff in stuffs %}
                                        <option value="{{ stuff.id }}">{{ stuff.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="statusStuffAdd">Actif</label>
                                    <select class="form-control" id="statusStuffAdd">
                                        <option value="1">Oui</option>
                                        <option value="0">Non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bulletStuffAdd">Quantité</label>
                                    <select class="form-control" id="lbulletStuffAdd">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" data-href="/admin/user/{{ user.id }}/stuff/add" id="stuffButtonAdd">Ajouter</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Ajouter une quête</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" id="questAdd">
                                <option value="">Sélectionner une quête</option>
                                {% if quests %}
                                    {% for quest in quests %}
                                        <option value="{{ quest.id }}">{{ quest.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-block" data-href="/admin/user/{{ user.id }}/quest/add" id="questButtonAdd">Ajouter</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-block">Supprimer l'utilisateur</button>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
    </form>

    {% if user.id %}
        <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ route }}/avatar" enctype="multipart/form-data" method="post" id="formAvatar">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Mettre à jour l'avatar</h4>
                        </div>
                        <div class="modal-body">
                            <div id="previewAvatar" style="background-image: url('{{ user.avatar }}')"></div>
                            <p>Pour changer l'avatar de l'utilisateur, veuillez sélectionner un fichier de type JPG ou PNG.</p>

                            <div class="form-group">
                                <input type="file" name="avatar" id="fileAvatar" class="filestyle" data-buttonName="btn-primary" data-placeholder="{{ user.avatar }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteAvatar" class="btn btn-danger {% if user.skin|length == 0 %}hidden{% endif %}" data-id="{{ user.id }}">Supprimer</button>
                            <button type="submit" id="buttonAvatar" class="btn btn-primary">Upload</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if user.id %}
        <div class="modal fade" id="skinModal" tabindex="-1" role="dialog" aria-labelledby="skinModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{{ route }}/skin" enctype="multipart/form-data" method="post" id="formSkin">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Mettre à jour le skin</h4>
                        </div>
                        <div class="modal-body">
                            <div id="previewSkin" style="background-image: url('{{ user.skin }}')"></div>
                            <p>Pour changer le skin du personnage, veuillez sélectionner un fichier de type JPG ou PNG.</p>

                            <div class="form-group">
                                <input type="file" name="skin" id="fileSkin" class="filestyle" data-buttonName="btn-primary" data-placeholder="{{ user.skin }}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteSkin" class="btn btn-danger {% if user.skin|length == 0 %}hidden{% endif %}" data-id="{{ user.id }}">Supprimer</button>
                            <button type="submit" id="buttonSkin" class="btn btn-primary">Upload</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}