<div class="table-wrapper">
    <table class="table table-striped table-bordered dataTable" data-url="{% if usersUrl %}{{ usersUrl }}{% else %}/admin/user/list{% endif %}" cellspacing="0" width="100%" id="listTableUser">
        <thead>
        <tr>
            <th width="60" data-sort="yes" data-class="text-left">ID</th>
            <th data-sort="yes" data-class="text-left">Username</th>
            <th data-sort="yes" data-class="text-left">Email</th>
            <th data-sort="yes" data-class="text-left">Level</th>
            <th data-sort="yes" data-class="text-left">Création</th>
            <th data-sort="yes" data-class="text-left">Mise à jour</th>
            <th data-sort="no" width="50" data-class="text-center"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Level</th>
            <th>Création</th>
            <th>Mise à jour</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</div>