<div class="table-wrapper">
    <table class="table table-striped table-bordered dataTable" data-url="/admin/user/{{ user.id }}/stuff" cellspacing="0" width="100%" id="listTableStuff">
        <thead>
        <tr>
            <th data-sort="yes" width="50" data-class="text-left">ID</th>
            <th data-sort="yes" data-class="text-left">Nom</th>
            <th data-sort="yes" width="200" data-class="text-center">Etat</th>
            <th data-sort="yes" width="200" data-class="text-center">Quantité</th>
            <th data-sort="yes" width="200" data-class="text-left">Création</th>
            <th data-sort="yes" width="200" data-class="text-left">Mise à jour</th>
            <th data-sort="no" width="50" data-class="text-center"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Etat</th>
            <th>Quantité</th>
            <th>Création</th>
            <th>Mise à jour</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</div>