{% extends '../template/layout.html' %}

{% block nav %}
    {% include '../template/nav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '../template/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ action }}" method="post">

                {% if article.id %}
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" id="id" name="id" value="{{ article.id }}" disabled>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
                </div>

                <div class="form-group">
                    <label for="content">content</label>
                    <textarea class="form-control" id="content" name="content" rows="3">{{ article.content }}</textarea>
                </div>

                <div class="form-group">
                    <label for="status">Actif</label>
                    <select class="form-control" id="status" name="status">
                        <option value="1">Oui</option>
                        <option value="0">Non</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="zone">Zone</label>
                    <select class="form-control" id="zone" name="zone">
                        <option value="0">Aucune</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}