{% extends '../template/layout.html' %}

{% block nav %}
    {% include '../template/nav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '../template/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <form action="{{ action }}" method="post">
        <div class="row">
            <div class="col-md-9">

                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
                </div>

                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control" id="content" name="content" rows="3">{{ article.content }}</textarea>
                </div>

                <div class="form-group">
                    <label for="zone">Relié à la zone</label>
                    <select class="form-control" id="zone" name="zone">
                        <option value="0">Aucune zone</option>
                        {% if zones %}
                            {% for zone in zones %}
                                <option value="{{ zone.id }}" {% if zone.id == article.zone %}selected="selected"{% endif %}>{{ zone.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Informations complémentaires</div>
                    <div class="panel-body">
                        {% if article.id %}
                            <p>Identifiant : {{ article.id }}</p>
                        {% endif %}

                        {% if article.createdAt %}
                            <p>Date de création : {{ article.createdAt }}</p>
                        {% endif %}

                        {% if article.updatedAt %}
                            <p>Date de modification : {{ article.updatedAt }}</p>
                        {% endif %}

                        <div class="form-group">
                            <label for="status">Actif</label>
                            <select class="form-control" id="status" name="status">
                                <option value="1">Oui</option>
                                <option {% if article.status == 0 %}selected="selected"{% endif %} value="0">Non</option>
                            </select>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
                            </div>

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-danger btn-block">Supprimer</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}