{% extends '../template/layout.html' %}

{% block nav %}
    {% include '../template/nav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '../template/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ action }}" method="post">

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{ quest.title }}" required>
                        </div>

                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3">{{ quest.comment }}</textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mapStart">Elément de map début</label>
                                    <select class="form-control" id="mapStart" name="mapStart">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}" {% if i == quest.level %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mapStop">Elément de map fin</label>
                                    <select class="form-control" id="mapStop" name="mapStop">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}" {% if i == quest.level %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="articleStart">Article de début</label>
                                    <select class="form-control" id="articleStart" name="articleStart">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}" {% if i == quest.level %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="articleStop">Article de fin</label>
                                    <select class="form-control" id="articleStop" name="articleStop">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}" {% if i == quest.level %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="xp">xp</label>
                                    <input type="number" class="form-control" id="xp" name="xp" value="{{ quest.xp }}" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="level">level</label>
                                    <select class="form-control" id="level" name="level">
                                        {% for i in range(1, 100) %}
                                            <option value="{{ i }}" {% if i == quest.level %}selected="selected"{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="money">money</label>
                            <input type="number" class="form-control" id="money" name="money" value="{{ quest.money }}" required>
                        </div>

                        <div class="form-group">
                            <label for="script">Script</label>
                            <textarea class="form-control" id="script" name="script" rows="5">{{ quest.script }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="panel panel-default">
                            <div class="panel-heading">Informations complémentaires</div>
                            <div class="panel-body">
                                {% if user.id %}
                                    <p>Identifiant : {{ user.id }}</p>
                                {% endif %}

                                {% if user.createdAt %}
                                    <p>Date de création : {{ user.createdAt }}</p>
                                {% endif %}

                                {% if user.updatedAt %}
                                    <p>Date de modification : {{ user.updatedAt }}</p>
                                {% endif %}

                                <div class="form-group">
                                    <label for="parent">Quête parent</label>
                                    <select class="form-control" id="parent" name="parent">
                                        <option {% if quest.parent == 0 %}selected="selected"{% endif %} value="0">nom</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="status">Actif</label>
                                    <select class="form-control" id="status" name="status">
                                        <option value="1">Oui</option>
                                        <option {% if quest.status == 0 %}selected="selected"{% endif %} value="0">Non</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-lg btn-primary btn-block">Enregistrer</button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-lg btn-danger btn-block">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}