{% extends '../template/layout.html' %}

{% block nav %}
    {% include '../template/nav.html' %}
{% endblock %}

{% block breadcrumb %}
    {% include '../template/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Liste des quêtes
            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                <a class="btn btn-default" href="/admin/quest/new" role="button">Ajouter</a>
            </div>
        </div>
        {% include './list.html' %}
    </div>
{% endblock %}