<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ sails.config.game.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if controller == 'dashboard' %} class="active" {% endif %}><a href="#">Dashboard</a></li>
                <li {% if controller == 'article' %} class="active" {% endif %}><a href="/admin/article">Articles</a></li>
                <li {% if controller == 'user' %} class="active" {% endif %}><a href="/admin/user">Utilisateurs</a></li>
                <li {% if controller == 'quest' %} class="active" {% endif %}><a href="/admin/quest">Quêtes</a></li>
                <li {% if controller == 'stuff' %} class="active" {% endif %}><a href="/admin/stuff">Equipements</a></li>
                <li {% if controller == 'map' or controller == 'zone' %} class="active" {% endif %} class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/zone">Zones</a></li>
                        <li><a href="/admin/map">Eléments</a></li>
                    </ul>
                </li>
                <li {% if controller == 'stat' %} class="active" {% endif %}><a href="/admin/stat">Statistiques</a></li>
                <li {% if controller == 'log' %} class="active" {% endif %}><a href="/admin/log">Logs</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/article/new">Ajouter un article</a></li>
                        <li><a href="/admin/quest/new">Ajouter une quête</a></li>
                        <li><a href="/admin/stuff/new">Ajouter un équipement</a></li>
                        <li><a href="/admin/zone/new">Ajouter une zone</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>